﻿@using TamTam.NuGet.Umb.GoogleCustomSearch
@inherits UmbracoTemplatePage
@{

    var gseKey = Model.Content.GetPropertyValue("googleSearchKey");
    var keyword = HttpContext.Current.Request.QueryString["keyword"];
    var page = HttpContext.Current.Request.QueryString["page"];
    GoogleCustomSearch gse = new GoogleCustomSearch(gseKey.ToString(), keyword, page);
    gse.DoSearch();    
}
<!-- Search Results -->
<section> 
    
    <!-- Paging Top -->
    @Html.Raw(gse.GeneratePaging())  

    <!-- Results -->
    @if(gse.totalResults > 0)
    {
        foreach (var result in gse.SearchResults )
        {          
            <div class="result">
                <span class="title bold">[ @result.Type ] <a href="@result.URL">@Html.Raw(@result.Title)</a></span><br />
                <span class="description">@Html.Raw(result.Description)</span>
            </div><br />
        }
    }

    <!-- Paging Bottom -->
    @Html.Raw(gse.GeneratePaging())


</section>
<!-- /Search Results -->